.contacts {
  background-color: #f2f2f2;
}

.contacts__logo-text {
  display: block;
  width: 128px;
  height: 24px;
  background-color: #111111;
  mask-image: url("../../images/logo-text.svg");
  mask-position: center;
  mask-repeat: no-repeat;
}

.contacts__social-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contacts__copyright {
  p {
    font-size: 16px;
    line-height: 20px;

    color: #444444;
  }
}
