.main-header {
  display: flex;
  flex-direction: column;

  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.main-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
