.sub-products__title {
  margin: 0;

  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.sub-products__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.sub-products__item-title {
  margin: 0;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
